body {
    margin: 0;
    background-color: blanchedalmond;
}
img {
    position: relative;
    left: 25%;
    width: 50vw;
    height: auto;
    text-align: center;
    z-index: -1;
}

h1 {
    text-align: center;
    background-color: red;
    color: black;
    margin: 0;
    padding: 30px;
    font-size: 4rem;
    position: sticky;
    top: 0;
}

ul.recipes {
    margin-top: 0;
    font-size: 3rem;
    color: blue;
    height: 300px;
}

li {
    margin-left: 45%;
    padding: 20px;
}

h2{
    font-size: 2rem;
    background-color: aquamarine;
    color: black;
    padding: 2rem;
    text-align: center;
    margin: 0;
}

.description {
    text-align: center;
    font-size: 2rem;
}

.ingridients,
.steps {
    font-size: 1.5rem;
    padding: 15px;
}

button {
    background-color: green;
    padding: 15px 30px;
    font-size: 3rem;
    align-items: center;
    width: 100vw;
}

button a {
    color: white;
    text-decoration: none;
}