body {
    margin: 0;
    background-color: blanchedalmond;
}
img {
    position: relative;
    left: 25%;
    width: 50vw;
    height: auto;
    text-align: center;
    z-index: -1;
}

h1 {
    text-align: center;
    background-color: red;
    color: black;
    margin: 0;
    padding: 30px;
    font-size: 4rem;
    position: sticky;
    top: 0;
}

ul.recipes {
    margin-top: 0;
    font-size: 3rem;
    color: blue;
    height: 300px;
}

li {
    margin-left: 45%;
    padding: 20px;
}
